.box-container
  .box-title Who is TonyBlack
  .box-content
    %p TonyBlack: An Acid Techno live-act from the Netherlands. Devoted to raw and pure acid techno... and determined to do it the right way. As a consequence of doing everything live.. songs never stop evolving. At the moment, we are working hard to get a few of our creations recorded properly.. so we can finally get some TonyBlack material out on Vinyl or CD.
    %p Oh yeah.. check out some of our latest mp3's while you're here. You can find them in a little box on the left of your screen. The one's with a little asterix (*) are very raw studio takes. They give you a good idea of what we're doing at the moment. There's also a whole machinery section.. with a full listing of our equipment, with lots of info and pictures of our studio.
