/* colors */

$blue-dark: #225B90;
$blue-light: #79C;

$red-dark: #8F1010;

$gray-light: #333333;
$dark-shadow: #000033;

$black: #000000;

/* fonts */

$font:  Verdana, Helvetica;
$font-color: #cccccc;
$font-size: 11pt;

/* Bootstrap variables */

$gridColumnWidth: 80px;
$gridGutterWidth: 1px;
$bodyBackground: $gray-light;
